In [28]:
import pandas as pd

# Load your data into a DataFrame
df = pd.read_csv("datasets/all countries global temperature.csv")


# Check columns in the DataFrame
print("Columns in the DataFrame:", df.columns)

# Update id_vars based on the actual column names in your data
id_vars = [col for col in ["Country Name", "Unit", "Change"] if col in df.columns]

# Transform the DataFrame from wide to long format
df_long = pd.melt(
    df,
    id_vars=id_vars,               # Only include columns that exist in the DataFrame
    var_name="Year",               # Name of the new column for the years
    value_name="Value"             # Name of the new column for the data values
)

# Convert 'Year' column to numeric, if necessary
df_long["Year"] = pd.to_numeric(df_long["Year"], errors='coerce')

# Save or display the transformed data
df_long.to_csv("transformed_file.csv", index=False)
print(df_long)

# # This example calculates the average for each country and year
# df_grouped = df_long.groupby(["Country Name", "Year"]).mean().reset_index()

# # Save or display the transformed data
# df_grouped.to_csv("grouped_transformed_file.csv", index=False)
# print(df_grouped)

Columns in the DataFrame: Index(['ObjectId', 'Country Name', 'Unit', 'Change ', '1970', '1971', '1972',
       '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981',
       '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990',
       '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021'],
      dtype='object')
                       Country Name            Unit    Year  Value
0      Afghanistan, Islamic Rep. of  Degree Celsius     NaN      1
1                           Albania  Degree Celsius     NaN      2
2                           Algeria  Degree Celsius     NaN      3
3                    American Samoa  Degree Celsius     NaN      4
4          Andorra, Principality of  Degree Celsius     NaN      5
...                             ...             ...     ...    ...
12253                Western Sahara  Degree Celsius  2021.0  1.557
12254                         World  Degree Celsius  2021.0  1.442
12255                Yemen, Rep. of  Degree Celsius  2021.0    NaN
12256                        Zambia  Degree Celsius  2021.0  1.002
12257                      Zimbabwe  Degree Celsius  2021.0 -0.101

[12258 rows x 4 columns]